In [1]:
# 라이브러리 가져오기
import re
import json
import numpy as np
import pandas as pd

# 데이터 가져오기

## 1. 스테디셀러 데이터

In [2]:
# 데이터 가져오기
total_df = pd.read_json("../preview_data/yes24_steady.json")

In [4]:
total_df
#7774개의 도서 데이터

,title,preview
0,불편한 편의점,
1,야간비행,항공사에서 다른 운송수단과의 속도 경쟁은 중요한 일이다. 이 책에서 감탄할 만한 책...
2,밝은 밤,
3,나의 아름다운 이웃 (개정판),
4,아몬드,
...,...,...
833,오 헨리 단편선 - 세계문학전집 350,
834,[세트] 그레이의 50가지 그림자 전권 (전6권),
835,더블린 사람들 - 세계문학전집 307,
836,그 남자네 집,
837,여름에 우리가 먹는 것,

## 2. 일반 목록 데이터 가져오기

In [7]:
normal_list = ['korean', 'english', 'detector', 'sf', 'history','family','love', 'fairy_tail_for_older', 'from_movie', 'scenario']

In [9]:
target = normal_list[0]
for i in range(10,101,10):
    total_df = pd.concat([total_df, pd.read_json(f'../preview_data/yes24_normal_{target}_{i}.json')])

In [10]:
len(total_df)

4145

In [11]:
target = normal_list[1]
for i in range(10,101,10):
    total_df = pd.concat([total_df, pd.read_json(f'../preview_data/yes24_normal_{target}_{i}.json')])

In [12]:
len(total_df)

7764

In [13]:
target = normal_list[2]
for i in range(5,51,5):
    total_df = pd.concat([total_df, pd.read_json(f'../preview_data/yes24_normal_{target}_{i}.json')])

In [14]:
len(total_df)

9730

In [15]:
target = normal_list[3]
for i in range(5,41,5):
    total_df = pd.concat([total_df, pd.read_json(f'../preview_data/yes24_normal_{target}_{i}.json')])

In [16]:
target = normal_list[4]
for i in range(5,11,5):
    total_df = pd.concat([total_df, pd.read_json(f'../preview_data/yes24_normal_{target}_{i}.json')])

In [17]:
len(total_df)

11704

In [18]:
target = normal_list[5]
total_df = pd.concat([total_df, pd.read_json(f'../preview_data/yes24_normal_{target}_last.json')])

In [19]:
len(total_df)

11818

In [21]:
target = normal_list[6]
print(target)
total_df = pd.concat([total_df, pd.read_json(f'../preview_data/yes24_normal_{target}_5.json')])
total_df = pd.concat([total_df, pd.read_json(f'../preview_data/yes24_normal_{target}_last.json')])

love

In [22]:
target = normal_list[7]
print(target)
for i in range(5,11,5):
    total_df = pd.concat([total_df, pd.read_json(f'../preview_data/yes24_normal_{target}_{i}.json')])

fairy_tail_for_older

In [23]:
target = normal_list[8]
print(target)
total_df = pd.concat([total_df, pd.read_json(f'../preview_data/yes24_normal_{target}_5.json')])
total_df = pd.concat([total_df, pd.read_json(f'../preview_data/yes24_normal_{target}_last.json')])

from_movie

In [24]:
target = normal_list[9]
print(target)
for i in range(5,11,5):
    total_df = pd.concat([total_df, pd.read_json(f'../preview_data/yes24_normal_{target}_{i}.json')])
total_df = pd.concat([total_df, pd.read_json(f'../preview_data/yes24_normal_{target}_last.json')])

scenario

In [26]:
len(total_df)

13132

## 프리뷰 전처리

In [27]:
# 한국어와 공백이 아닌 모든 문자를 공백으로 바꾼다.
total_df.preview = total_df.preview.str.replace(r"[^가-힣 \s]", " ", regex=True)

# 여러개의 공백을 하나의 공백으로 바꾼다
total_df.preview = total_df.preview.str.replace(r"\s+", " ", regex=True)

# 문장 앞 뒤의 공백을 제거한다
total_df.preview = total_df.preview.str.strip()

# 빈 공백을 nan 으로 바꾼다
total_df.preview = total_df.preview.replace("", np.nan)

# 결측치 제거
df = total_df.dropna()

In [28]:
df
## 1506개로 줄어든다.

         title                                            preview
1         야간비행  항공사에서 다른 운송수단과의 속도 경쟁은 중요한 일이다 이 책에서 감탄할 만한 책임...
7      친밀한 이방인  지난 월 나는 신문을 읽다가 흥미로운 광고를 보았다 이 책을 쓴 사람을 찾습니다 라...
8     지구 끝의 온실  낡은 차가 덜컹거리며 오르막 흙길 앞에 멈춰 섰다 끊겨 있는 나무 계단 낡은 이정표...
9      벼랑 위의 집  발행일 년 월 일 지은이 클룬 옮긴이 송섬별 펴낸이 김석원 펴낸곳 도서출판 든 출판...
11  미드나잇 라이브러리  죽기로 결심하기 년 전 노라 시드는 베드퍼드에 있는 헤이즐딘 스쿨의 아늑하고 작은 ...
..         ...                                                ...
35      대머리 록커  최유정 교도소 미용사 연출 대머리 록커 시나리오 원로작가 스토리 회원작가 스토리 멘...
36        페어 웰  조다연 단편 영화 가짜조폭 서비스맨 과 단편 애니메이션 도망쳐 스티로폼 연출 성균관...
37    다이어트 팩토리  조수연 한국예술종합학교 영화과 시나리오 전공 원로작가 스토리 회원작가 스토리 멘토링...
38         오프셋  최범석 중앙대학교 문예창작학과 졸업 원로작가 스토리 회원작가 스토리 멘토링 완성작 ...
39       히든 키친  한예림 한예림 세상에 사랑과 정의가 있다고 말하고 싶은 작가입니다 장르는 로맨스 코...

[6152 rows x 2 columns]

## 타이틀 전처리

In [29]:
# 대괄호 내부에 문자를 제거한다
df.title = df.title.str.replace(r"\[.+\]", "", regex=True)

# 여러개의 공백을 하나의 공백으로 바꾼다
df.title = df.title.str.replace(r"\s+", " ", regex=True)

# 문장 앞 뒤의 공백을 제거한다
df.title = df.title.str.strip()

# 제목 중복을 제거한다
df = df.drop_duplicates(["title"])

# 미리보기 중복을 제거한다
df = df.drop_duplicates(["preview"])

C:\Users\DanielJeong\AppData\Local\Temp\ipykernel_9788\1579629539.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.title = df.title.str.replace(r"\[.+\]", "", regex=True)
C:\Users\DanielJeong\AppData\Local\Temp\ipykernel_9788\1579629539.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.title = df.title.str.replace(r"\s+", " ", regex=True)
C:\Users\DanielJeong\AppData\Local\Temp\ipykernel_9788\1579629539.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.title = df.title.str.strip()

In [30]:
# 1000자 미만 삭제
df = df[df.preview.str.len() > 1000]

In [31]:
# 인덱스를 재설정한다.
df = df.reset_index(drop=True, inplace=False)

In [33]:
df

              title                                            preview
0              야간비행  항공사에서 다른 운송수단과의 속도 경쟁은 중요한 일이다 이 책에서 감탄할 만한 책임...
1           친밀한 이방인  지난 월 나는 신문을 읽다가 흥미로운 광고를 보았다 이 책을 쓴 사람을 찾습니다 라...
2          지구 끝의 온실  낡은 차가 덜컹거리며 오르막 흙길 앞에 멈춰 섰다 끊겨 있는 나무 계단 낡은 이정표...
3           벼랑 위의 집  발행일 년 월 일 지은이 클룬 옮긴이 송섬별 펴낸이 김석원 펴낸곳 도서출판 든 출판...
4        미드나잇 라이브러리  죽기로 결심하기 년 전 노라 시드는 베드퍼드에 있는 헤이즐딘 스쿨의 아늑하고 작은 ...
...             ...                                                ...
4427  낙타는 따로 울지 않는다  지상학 년 충북 충주 출생 년 애니메이션 로보트 태권 데뷔 년 동아일보 신춘문예 시...
4428        구름은 흘러도  김지헌 평안남도 진남포 태생인 김지헌은 해방 이전에 서울로 이주하여 경동중학교를 다...
4429            갯마을  신봉승 년 월 일 강원도에서 태어났다 강릉초등학교 강릉사범학교 를 졸업하고 향리에서...
4430           페어 웰  조다연 단편 영화 가짜조폭 서비스맨 과 단편 애니메이션 도망쳐 스티로폼 연출 성균관...
4431            오프셋  최범석 중앙대학교 문예창작학과 졸업 원로작가 스토리 회원작가 스토리 멘토링 완성작 ...

[4432 rows x 2 columns]

# 명사 형태소 분석

In [34]:
# 라이브러리 가져오기
from tqdm.auto import tqdm
from konlpy.tag import Mecab

# 미캡 객체 생성
tagger = Mecab(dicpath=r"C:\mecab\mecab-ko-dic")

In [35]:
# 분석할 데이터 담을 변수
analyzed_data = []

# 미리보기 데이터 조회
for preview in tqdm(df.preview):
    
    # 명사만 추출
    tag_result = tagger.nouns(preview)
    
    # 각 단어를 공백을 사이에 두고 하나로 합침
    result = " ".join(tag_result)

    # 데이터를 변수에 담음
    analyzed_data.append(result)

  0%|          | 0/4432 [00:00<?, ?it/s]

# TF-IDF유사도 분석

In [36]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [37]:
# TF-IDF를 벡터로 분석
#analyzed_data는 TDM이ㅏㄷ. 
tfidf_matrix = TfidfVectorizer().fit_transform(analyzed_data)
print('TF-IDF 행렬의 크기(shape) :', tfidf_matrix.shape)

TF-IDF 행렬의 크기(shape) : (4432, 89441)

In [38]:
#4432개의 도서 문서에 89,441개의 단어가 사용

In [39]:
from sklearn.metrics.pairwise import cosine_similarity

In [40]:
# TF-IDF 벡터의 cosine 유사도 계산
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix)
print('코사인 유사도 연산 결과 :' ,cosine_sim.shape)

코사인 유사도 연산 결과 : (4432, 4432)

In [41]:
# 제목을 TF-IDF 안의 인덱스로 변환하기 위한 준비
title_to_index = dict(zip(df['title'], df.index))

In [45]:
title_to_index['야간비행']

0

In [46]:
def get_recommendations(title, cosine_sim=cosine_sim):
    # 선택한 소설의 타이틀로부터 해당 소설의 인덱스를 받아온다.
    idx = title_to_index[title]

    # 해당 소설과 모든 소설과의 유사도를 가져온다.
    sim_scores = list(enumerate(cosine_sim[idx]))
    
    # 유사도에 따라 소설들을 정렬한다.
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # 가장 유사한 10개의 소설을 받아온다.
    sim_scores = sim_scores[1:11]
    
    # 가장 유사한 10개의 소설의 인덱스를 얻는다.
    novel_indices = [idx[0] for idx in sim_scores]
    
    # 가장 유사한 10개의 소설의 제목을 리턴한다.
    # 인덱스 리스트에서 제목 리스트로 변환한다.
    title_list = df['title'].iloc[novel_indices]
    # 소숫점 유사도를 퍼센트로 변환한다.
    score_list = [round(score[1], 3) * 100 for score in sim_scores]
    # 보기 편하도록 데이터 프레임으로 바꿔 반환한다.
    return pd.DataFrame({"제목": title_list, "score": score_list})

# TF-IDF 예시

In [48]:
# 제목으로 검색
get_recommendations('야간비행')

                            제목  score
1154              월든 (한글판) 031   15.0
2684     코난 도일 호러 걸작선 (개정 증보판)   14.4
1477     프랑켄슈타인 - 문예 세계문학선 062   12.6
2224               젊은 베르테르의 슬픔   12.6
3962             에어홀릭 Airholic   12.2
1098          프랑켄슈타인 (한글판) 065   12.2
3966  젊은 베르테르의 슬픔 - 세계문학전집 025   12.1
4020                 젊은베르터의 고통   11.5
1083            프랑켄슈타인 (한글+영문)   11.5
1648           하루 하루가 세상의 종말 3   11.5

# 형태소 전체 분석

In [49]:
# 라이브러리 가져오기
from tqdm.auto import tqdm
from konlpy.tag import Mecab
from gensim.models.doc2vec import TaggedDocument


tagger = Mecab(dicpath=r"C:\mecab\mecab-ko-dic")

In [50]:
tagged_corpus_list = []

# 한 행씩 순환
for index, row in tqdm(df.iterrows(), total=len(df)):
    preview = row['preview']
    title = row['title']
    
    # 문장을 형태소로 자름
    words = tagger.morphs(preview)
    
    # 각 행을 문서 객체로 변환
    td = TaggedDocument(tags=[title], words=words)
    
    # 데이터를 변수에 담음
    tagged_corpus_list.append(td)

print('문서의 수 :', len(tagged_corpus_list))

  0%|          | 0/4432 [00:00<?, ?it/s]

문서의 수 : 4432

# Doc2Vec 모델 학습 + 저장

In [56]:
from gensim.models import doc2vec

In [55]:
!pip install --upgrade gensim

Requirement already satisfied: gensim in c:\programdata\anaconda3\lib\site-packages (4.2.0)
Requirement already satisfied: smart-open>=1.8.1 in c:\programdata\anaconda3\lib\site-packages (from gensim) (5.2.1)
Requirement already satisfied: scipy>=0.18.1 in c:\programdata\anaconda3\lib\site-packages (from gensim) (1.9.3)
Requirement already satisfied: numpy>=1.17.0 in c:\programdata\anaconda3\lib\site-packages (from gensim) (1.22.3)

WARNING: Ignoring invalid distribution -rotobuf (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\programdata\anaconda3\lib\site-packages)

[notice] A new release of pip available: 22.2.2 -> 22.3.1
[notice] To update, run: C:\ProgramData\Anaconda3\python.exe -m pip install --upgrade pip

In [65]:
model = doc2vec.Doc2Vec(vector_size=300, alpha=0.025, min_alpha=0.025, workers=4, window=8)

# Vocabulary 빌드(데이터 주입)
model.build_vocab(tagged_corpus_list)
print(f"Tag Size: {len(model.dv.index_to_key)}", end=' / ')

# Doc2Vec 학습
model.train(tagged_corpus_list, total_examples=model.corpus_count, epochs=50)

# 모델 저장
model.save('./dart.doc2vec')

Tag Size: 4432 /

# 저장한 모델을 불러옴
gensim 버전이 다르면 불러오지 못함

In [66]:
model = doc2vec.Doc2Vec.load("dart.doc2vec")

# Doc2Vec 예시

In [68]:
similar_doc = model.docvecs.most_similar('야간비행')
pd.DataFrame(similar_doc, columns=["제목", "유사도"])

C:\Users\DanielJeong\AppData\Local\Temp\ipykernel_9788\2085203665.py:1: DeprecationWarning: Call to deprecated `docvecs` (The `docvecs` property has been renamed `dv`.).
  similar_doc = model.docvecs.most_similar('야간비행')

                          제목       유사도
0                 나의 매혹적인 친구  0.388737
1                       솔라리스  0.383140
2           프랑켄슈타인 (한글판) 065  0.382579
3      코난 도일 호러 걸작선 (개정 증보판)  0.367213
4                        허니문  0.364073
5                      종말일기Z  0.359834
6  자전거를 탄 세 남자 - 문예세계문학선 125  0.359372
7                   설탕 사기 사건  0.358597
8                      자칼의 왕  0.358463
9                 사랑의 기초 연인들  0.358030